.ListContainer {
  min-width: 280px;
  max-width: 280px;
  margin: 0 20px;
  padding: 5px;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

.ListContainer:first-child {
  margin-left: 0;
}

.ListContainer .title {
  position: relative;
  text-transform: uppercase;
  margin: 0;
  padding: 8px 0;
}

.ListContainer .title:hover .list-options {
  display: flex;
}

.ListContainer .list-options {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
}

.ListContainer .list-options button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.ListContainer .EntityForm {
  padding: 10px 30px;
}

.ListContainer .EntityForm label,
.ListContainer .EntityForm .cancel {
  color: rgba(0, 0, 0, 0.87);
}
