.Notification {
  margin-top: 10px;
  padding: 20px;
  color: aliceblue;
  border-radius: 2px;
}

.Notification.cyan {
  color: rgba(0, 0, 0, 0.87);
}

.Notification.animated {
  animation-duration: 0.6s;
  animation-fill-mode: both;
}

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(-110%, 0, 0);
  }
}

.Notification.slideOutLeft {
  animation-name: slideOutLeft;
}
