.Board {
  height: 163px;
  animation-duration: 0.6s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

.Board .card-content .card-title {
  margin-bottom: 0;
}

.Board .card-action {
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.Board.card
  .card-action
  a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  margin-right: 0;
}

.Board .card-content {
  height: 130px;
  padding: 0;
}

.Board .card-content a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 24px;
  color: rgba(0, 0, 0, 0.87);
}

.Board .form-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
