.ModalRoot {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background: rgba(0, 0, 0, 0.4);
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

.ModalRoot .modal-container {
  position: fixed;
  left: 0;
  top: 10%;
  right: 0;
  max-height: 70%;
  width: 55%;
  margin: auto;
  padding: 20px;
  overflow-y: auto;
  border-radius: 2px;
  background: #fff;
}

.ModalRoot .modal-container.confirmation-modal {
  width: 30%;
}
