.AddEntity {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

.AddEntity.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 163px;
  cursor: pointer;
}

.AddEntity p {
  margin: 0;
  color: #fff;
}
