.EntityForm button[type='submit'] {
  color: rgba(0, 0, 0, 0.87);
}

.EntityForm .cancel {
  display: inline-block;
  margin-right: 10px;
  color: #fff;
  cursor: pointer;
}

.EntityForm label {
  color: #fff;
}

.EntityForm input[type='text']:not(.browser-default) {
  border-bottom-color: #fff;
}
